<div id="pkepEzpaarseHeader">
        <img src="../public/img/logo-ezpaarse-small.png" alt="logo ezPAARSE" class="pkepLogoEzpaarse"/>
    <div id="pkepLinks">
        <a href="http://ezpaarse.org" target="_blank" title="Accueil ezPAARSE">
            <img src="public/img/home-small.png" class="pkepSmallImg" alt ="home" />
            <span class="pkepLinksText">Home</span>
        </a>
        <a href="http://blog.ezpaarse.org" target="_blank" title="Blog ezPAARSE">
            <img src="public/img/blog-small.png" class="pkepSmallImg" alt ="blog" />
            <span class="pkepLinksText">Blog</span>
        </a>
        <a href="http://ang.couperin.org/" target="_blank" title="Analyses de Plateformes">
            <img src="public/img/analogist-small.png" class="pkepSmallImg" alt ="analyses de plateformes" />
            <span class="pkepLinksText">Analogist</span>
        </a>
        <a href="http://demo.ezpaarse.org" target="_blank" title="Demo">
            <img src="public/img/demo-small.png" class="pkepSmallImg" alt ="demo" />
            <span class="pkepLinksText">Demo</span>
        </a>
        <a href="http://ezpaarse.org" target="_blank" title="ezMESURE">
            <img src="public/img/ezmesure-small.png" class="pkepSmallImg" alt ="ezmesure" />
            <span class="pkepLinksText">ezMESURE</span>
        </a>
        <a href="http://bibliomap.inist.fr/" target="_blank" title="Bibliomap">
            <img src="public/img/bibliomap-small.png" class="pkepSmallImg" alt ="bibliomap" />
            <span class="pkepLinksText">Bibliomap</span>
        </a>
        <a href="http://ezpaarse.couperin.org/doc" target="_blank" title="Documents">
            <img src="public/img/doc-small.png" class="pkepSmallImg" alt ="documents" />
            <span class="pkepLinksText">Doc</span>
        </a>
    </div>
    <div id="pkepSocial">
        <a href="mailto:ezpaarse@couperin.org">
            <img src="public/img/picto-mail.svg" alt="mail ezparse" />
        </a>
        <a href="https://github.com/ezpaarse-project" target="_blank">
            <img src="public/img/picto-github.svg" alt="github ezpaarse" />
        </a>
        <a href="https://www.facebook.com/Ezpaarse" target="_blank">
            <img src="public/img/picto-facebook.svg" alt="facebook ezpaarse" />
        </a>
        <a href="https://twitter.com/ezpaarse" target="_blank">
            <img src="public/img/picto-twitter.svg" alt="twitter ezpaarse" />
        </a>
        <a href="https://www.youtube.com/channel/UCcR-0UE9WjYiwS4fMG2T4tQ" target="_blank">
            <img src="public/img/picto-youtube.svg" alt="youtube ezpaarse" />
        </a>
    </div>
</div>
